
.nodata{
    position: relative;
    top: 15px;
    left: 40%;
    font-size: 40px;
    color: #c4bdbd;
    font-weight: 600;
}

.card-details {
    width: 245px;
    height: 350px;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 10px;
    background-color: white;
    .card-blue {
        background: #001cb0;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        min-height: 170px;
        i{
            color: white
        }
        p {
            color: white;
            font-size: 18px;
            font-weight: 600;
            letter-spacing: 0.75px;
        }
        .daily-button {
            margin: 0px;
            background: white;
            padding: 0px 2px;
            border-radius: 4px;
            color: black;
            font-size: 11px;
            text-align: center;
        }
        .type-box {
            position: absolute;
            bottom: 54%;
            font-size: 13px;
            background: #00dfed;
            padding: 1px 9px;
            color: black;
            border-top-left-radius: 12px;
            border-bottom-right-radius: 12px;
        }
    }
}
.p-3rem {
    padding: 0rem 3rem !important;
}
@media (max-width: 851px) { 
    .p-3rem {
        padding: 0rem 0rem !important;
    }
}
@media (max-width: 767px) {
     .cartoon-image  {
        display: none;
    }
    .top-card  {
        margin: 0rem 1rem !important;
        height: auto !important;
        span {
            font-size: 38px !important;
            top: 0rem !important;
            position: relative !important;
        }
    }
    .logo-top { display: none;}
    .p-3rem {
        padding: 0rem 0rem !important;
    }
    .container-fluid {
        padding-left: 0px;
        padding-right: 0px;
    }
}
@media (min-width: 768px) and (max-width: 1024px) { 
    .cartoon-image  {
        display: none;
    }
}
.color-blue {
    color: #001cb0;
}
.color-purple {
    color: #6e68a3;
}

.font-weight-700 {
    font-weight: 700;
}
.font-20px {
    font-size: 20px;
}

.font-13px {
    font-size: 13px;
    color: #354052;
    opacity: 0.56;
    line-height: 1.9;
}

.modal.show .modal-dialog {
    max-width: 320px !important;
}

.top-card {
    height: 80px;
    background: transparent linear-gradient(97deg, #8a2e72 0%, #af4567 100%) 0% 0% no-repeat padding-box;
    border-radius: 10px;
    .logo-top {
        height: 70px;
        width: 100px;
        margin-right: 2.5rem;
    }
    span{
        color: white;
        font-size: 40px;
        font-weight: 500;
        top: .60rem;
        position: absolute;
    }
}
