@import "../../../variables.scss";


    .main-container{
        height:100vh !important;
    }
    .imagealter{
        max-width: 400px;
    }
  
    .black{
        color: $tab-text-black !important;
    }
    .light-blue{
        color:$primary-blue !important;
    }
  
    .myform{
        margin-top: 10rem;
    }

    @media only screen and (max-width: 600px) { 
        .myform{
            margin-top: 5rem;
        }
        .font-size-24{
            font-family: $font-family;
            font-size:$font-size-24;
        } 
        
      }

      @media only screen and (max-width: 600px) { 
        .main-container{
             height:85vh !important;
         }  
        
      }

    .main-content{
       background-color: $color-screen-bg !important;
        
    }
  
    



















    