@import './variables.scss';
// @import '~lato-font/css/lato-font.min.css';

$fontSizeLineHeight: 11px unset,
12px unset,
14px unset,
16px unset,
18px unset,
22px unset,
24px 29px,
26px 32px,
28px unset,
32px 42px,
42px 50px,
48px 57px;

@each $count in $fontSizeLineHeight {
    .font-size-#{nth($count, 1)} {
        font-size: nth($count, 1);
        line-height: nth($count, 2);
    }
}


$fontStyling: regular "Lato"400 normal,
medium "Lato Medium"400 normal,
bold "Lato"600 normal,
semibold "Lato"500 normal,
heavybold "Lato"800 normal;

@each $count in $fontStyling {
    .lato-#{nth($count, 1)} {
        font-family: #{nth($count, 2)};
        font-weight: #{nth($count, 3)};
        font-style: #{nth($count, 4)};
    }
}

@mixin setComponentPage($backgroundColor, $minHeight) {
  background: $backgroundColor;
  min-height: $minHeight;
}


