/* You can add global styles to this file, and also import other style files */

@import "./variables.scss";
@import "./mixins.scss";
.p-datatable .p-datatable-thead>tr>th {
    font-size: 12px;
    text-align: center;
}

.p-datatable .p-datatable-tbody>tr>td {
    font-size: 13px;
}

.user-table {
    .p-datatable .p-datatable-tbody>tr>td {
        font-size: 13px;
        text-align: center;
    }
}

.p-datatable .p-sortable-column .p-sortable-column-icon {
    margin: 0px;
}

.disabled-input {
    background: #80808063;
    pointer-events: none;
}

* {
    &:focus {
        box-shadow: none !important;
    }
}

.font-size-12 {
    font-family: $font-family;
    font-size: $font-size-12;
}

.font-size-18 {
    font-family: $font-family;
    font-size: $font-size-18
}

.font-size-10 {
    font-family: $font-family;
    font-size: $font-size-10;
}

.font-size-11 {
    font-family: $font-family;
    font-size: $font-size-11;
}

.font-size-24 {
    font-family: $font-family;
    font-size: $font-size-24;
}

.font-size-26 {
    font-family: $font-family;
    font-size: $font-size-26
}

.p-confirmDialog{
    width: 28.125rem;
}

.th-width{
    width: 2.5rem;
}