//Color
$color-black: #000000;
$tab-text-black:#22272e;
$color-bg: #e9ecefb3;
$color-screen-bg:#f7f3f3;
$color-red: #ad3b45;
$color-light-green: #71c89f;
$color-success-green:#69b341;
$color-active-green:#2cad1b;
$box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.5);
$color-light-gray: #4c4360;
$color-table-header: #627386;
$color-primary-blue: #4f93ff;
$link-color: #64a9ff;
$primary-black: #2d3039;
$primary-white:#ffffff;
$primary-blue: #55a3ff;
$secondary-white:#f5f6f7;
$shadow-white:#f2f2f2;
$light-gray:#d8dde6;
$disable-gray:#909090;
$line-grey: #9090904a;
$dark-gray:#707070;
$font-family: 'Lato',
sans-serif;
$font-color:#545454;
$color-thanos:#a373db;
$color-thanos-light:#e7d3ff;
$color-light-green: #71c89f;
$color-red: #ad3b45;
$color-navigation-bar: #171b25;
$selected-row-color: #fcf6f1;
//Size
$fa-font-size: 0.75rem;
$font-size-10: 0.625rem;
$font-size-11: 0.6875rem;
$font-size-12: 0.75rem;
$font-size-18: 1.125rem;
$font-size-24: 1.5rem;
$font-size-26: 1.625rem;
$font-lato-regular: "lato-regular";
$font-lato-bold:"lato-bold";
$color-blue: #0178fa;
$color-green: #34a253;
$color-yellow: #ffb700;
$primary-button-color: #f77736;
$transparent-black:#00000047;
